
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
tests/tmp-*.spec.js
tmp-*.spec.js
results/
test-results/
playwright-report/
*.webm
*.png
*.zip